{
  "env": {
      "browser": true,
      "commonjs": true,
      "es2021": true
  },
  "root": true,
  "extends": ["airbnb", "airbnb-typescript", "prettier"],

  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "project": "./tsconfig.json",
      "ecmaVersion": "latest"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  }
}
