{
    "extends": "../.eslintrc",
    "ignorePatterns": ["!**/*"],
		"rules": {
			"react/function-component-definition": [true, {
				"namedComponents": "arrow-function",
				"unnamedComponents": "arrow-function"
			}]
		}

}
